* { 
    box-sizing : border-box;
    margin: 0;
    padding: 0;
   }

body{
    color: black;
    background-color: aliceblue;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 1% auto; 
    height: 95vh;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:    "header header header"
                            "menu menu menu"
                            "seccion seccion seccion"
                            "footer footer footer";
}
/* este estilo lo uso para aplicar el mismo borde para todos los elementos */
.contenedor > div,
.contenedor .header,
.contenedor .menu,
.contenedor .seccion,
.contenedor .footer{
      
    border-radius: 4px;
}
/* el estilo que uso para darle color al header su tamaño y su posicion */
.contenedor .header{
    background-color: rgb(58, 55, 55);
    /* grid-column-start: 1;
    grid-column-end: 4; */
    padding: 2%;
    grid-area: header;
}
/* aqui puse tanto lo grande del logo como la posicion donde debe ir al igual que con los iconos */
.contenedor .header-logo{
    background: rgb(151, 147, 147);
    padding: 2%;
    width: 20%;
    float:left;
}
.icono2 {
    border-radius: 100px;
    float: right;
    background: rgb(151, 147, 147);
    padding: 2%;
    margin-left: 2%;
}
.icono3 {
    float: right;
    background: rgb(151, 147, 147);
    padding: 2%;
    border-radius: 100px;
    margin-left: 2%;
}
.icono4{
    float: right;
    background: rgb(151, 147, 147);
    padding: 2%;
    border-radius: 100px;
}
/* estilos para la barra menu y sus 5cajas, que separo con un justify-content y añadiendoles un gap */
.menu{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    display: flex;
    background-color: aliceblue;
    grid-area: menu;
    justify-content:space-around; 
    gap: 2%;
}
.nav-menu{
    display: inline-block;
    background: rgb(151, 147, 147);
    width: 200%;
    padding: 18px ;
}

/* en seccion he usado el display grid para que las tres cajas esten en las misma fila pero separadas con el grid-gap */
.seccion{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: seccion;
    flex-flow: column nowrap;
    display: grid;
    grid-gap: 5%;
}
.div-articulos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2%;
    grid-column: 1/ 4;
}
.articulo1{
    background: grey;
    padding: 60px ;
    
}
.articulo2{
    background: grey;
    padding: 60px ;
}
.articulo3{
    background: grey;
    padding: 60px ;
}
/* en esta parte de la section he puesto el estilo de el articulo que va separado  y lo he centrado haciendo que ocupe el resto del espacio */
.div-seccion{
    height: 90%;
    min-height: 190px;
    grid-column: 1/ 4; 
    background-color: rgb(151, 147, 147) ;
    display: flex;
    justify-content: center;
}

.articulo4{
    background: rgb(58, 55, 55);
    width: 60%;
}
/* en el footer solo le di color y mínimo de altura */
.footer{
    background-color: rgb(58, 55, 55) ;
    min-height:10px;
    grid-area: footer;
  
}

/* con el media hago que cambien de posicion las cajas cuando el tamaño de la pagina en igual o inferior a 768px */
@media screen and (max-width: 768px){ 

    .contenedor .articulo1{
        grid-column: 1/ -1;
    }
    .contenedor .articulo2{
        grid-column: 1/ -1;
    }
    .contenedor .articulo3{
        grid-column: 1/ -1;
    }
    .contenedor .footer{
        margin-top: 4%;
    }

    .contenedor{
    grid-template-areas: "header header header"
                            "menu menu menu"
                            "seccion seccion "
                            "footer footer footer";
    }

}
    
